#root{
  --primary:#B8E8FF;
  --text-l:16px;
  --text-m:14px;
  --text-s:12px;
  --subtitle-l:20px;
  --subtitle-m:18px;
  --subtitle-s:16px;
  --title-hero-l:140px;
  --title-hero-m:124px;
  --title-hero-s:80px;
  --title-l:70px;
  --title-m:62px;
  --title-s:54px;
  --cardtitle-l:20px;
  --cardtitle-m:18px;
  --cardtitle-s:16px;
  --fact-l:30px;
  --fact-m:24px;
  --fact-s:20px;
  --gap-l:14px;
  --gap-m:12px;
  --gap-s:10px;
  --section-gap-l:40px;
  --section-gap-m:32px;
  --section-gap-s:26px;
  --padding-l:20px;
  --padding-m:14px;
  --padding-s:10px;
  --lineheight-s:1.5;
  --lineheight-m:1.6;
  --lineheight-l:1.7;
}

.entry-screen{
  background-image: url(./assets/images/s2_bg.png);
}

.s1_avatar{
  right: 0;
  bottom: 0%;
  height: auto;
  object-fit: contain;
}

.s1-wrapper{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(./assets/images/s1_bg.png);
  position: relative;
}

.s2-wrapper{
  width: 100vw;
  /* height: 100vh; */
  overflow: hidden;
  padding: 100px;
  background-image: url(./assets/images/s2_bg.png);
}

.s2-body{
  display: grid;
  gap: 20px;
  grid-template-rows: auto;
}
.rock,.rock-avatar{
  object-fit: contain;
  height: auto;
}
.s3-wrapper{
  position: relative;
  overflow: hidden;
  background-image: url(./assets/images/s3_bg.png);
}

.gif1{
  transform: translate(-50%,-50%);
}

.cawrapper{
  background-color: white;
  border: 10px solid;
}

.copyWrapper{
  margin: 0;
  background-color: transparent;
  border: none;
}

.entry-button{
  border:5px solid rgb(255, 255, 255);
  padding: 50px;
  background-color: brown;
}

.entry-button-text{
  font-size: 2rem;
  stroke:2px white;
  -webkit-text-stroke: 2px white;
  color: brown;
}

@media screen and (max-width:500px) {

  .s1-wrapper{
    max-height: 550px;
  }

  .entry-button{
    padding: 10px;
  }

  .entry-button-text{
    font-size: 1.5rem;
  }

  .s3-wrapper{
    min-height: 300px;
  }

  .s1_avatar{
    width: 150px;
  }
  
  .s2-body{
    grid-template-columns: 1fr;
  }
  
  .meme{
    width: 250px;
    height: auto;
    object-fit: contain;
    border: 10px solid white;
  }

  .s2-wrapper{
    /* padding: 100px; */
  }

  .rock{
    width: 150px;
  }

  .rock-avatar{
    width: 150px;
  }

  .s3-avatar{
    width: 500px;
    height: auto;
    object-fit: contain;
  }

  .gif1{
    width: 100px;
    height: auto;
    object-fit: contain;
  }

  .socialicons{
    width:40px;
    border-radius: 100px;
}

.cawrapper{
  padding:10px;
  gap: 10px;
  max-width: 300px;
}

.caHeading,.ca{
  font-size:14px;
}

.ca{
  max-width: 180px;
  overflow-wrap: break-word;

}

.copyIcon{
  width:14px;
  height: auto;
}

.vid-wrapper{
  width: 300px;
  height: auto;
}
}

@media screen and (min-width:501px) and (max-width:1023px) {

  .s3-wrapper{
    min-height: 300px;
  }

  .s2-wrapper{
    /* padding: 20px; */
  }

  .s1_avatar{
    width: 200px;
  }

  .s2-body{
    grid-template-columns: 1fr 1fr;
  }

  .meme{
    width: 200px;
    height: auto;
    object-fit: contain;
    border: 10px solid white;
  }

  .rock{
    width: 120px;
  }

  .rock-avatar{
    width: 120px;
  }

  .s3-avatar{
    width: 700px;
    height: auto;
    object-fit: contain;
  }

  .gif1{
    width: 100px;
    height: auto;
    object-fit: contain;
  }


  .socialicons{
    width:40px;
    border-radius: 100px;
}

.cawrapper{
  padding:10px;
  gap: 10px;
}

.caHeading,.ca{
  font-size:14px;
}

.copyIcon{
  width:14px;
  height: auto;
}

.vid-wrapper{
  width: 400px;
  height: auto;
}
}

@media screen and (min-width:1024px) and (max-width:1920px) {

  .s3-wrapper{
    min-height: 300px;
  }

  .s1_avatar{
    width: 400px;
  }

  .s2-body{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .meme{
    width: 350px;
    height: auto;
    object-fit: contain;
    border: 10px solid white;
  }

  .rock{
    width: 300px;
  }

  .rock-avatar{
    width: 300px;
  }

  .s3-avatar{
    width: 1000px;
    height: auto;
    object-fit: contain;
  }

  .gif1{
    width: 300px;
    height: auto;
    object-fit: contain;
  }

  .socialicons{
    width:44px;
    border-radius: 100px;
}
.cawrapper{
  padding:10px;
  gap: 10px;
}

.caHeading,.ca{
  font-size:16px;
}

.copyIcon{
  width:20px;
  height: auto;
}

.vid-wrapper{
  width: 700px;
  height: auto;
}
}

@media screen and (min-width:1921px){

  .s3-wrapper{
    min-height: 300px;
  }

  .s1_avatar{
    width: 500px;
  }

  .s2-body{
    grid-template-columns: 1fr 1fr 1fr;
  }


  .meme{
    width: 350px;
    height: auto;
    object-fit: contain;
    border: 10px solid white;
  }

  .rock{
    width: 300px;
  }

  .rock-avatar{
    width: 300px;
  }

  .s3-avatar{
    width: 1400px;
    height: auto;
    object-fit: contain;
  }

  .gif1{
    width: 500px;
    height: auto;
    object-fit: contain;
  }

  .socialicons{
    width:80px;
    border-radius: 100px;
}
.cawrapper{
  padding: 10px;
  gap: 10px;
}

.caHeading,.ca{
  font-size:28px;
}

.copyIcon{
  width:26px;
  height: auto;
}

.vid-wrapper{
  width: 700px;
  height: auto;
}
}

